<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />

<!-- [jQuery] -->
<script src="http://g.yiqingo.com/easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!-- [EasyUI] -->
<link id="easyuiTheme" rel="stylesheet" href="http://g.yiqingo.com/easyui/themes/gray/easyui.css" type="text/css" />
<link id="icon" rel="stylesheet" href="http://g.yiqingo.com/easyui/themes/icon.css" type="text/css" />
<link id="icon2" rel="stylesheet" href="/css/icons.css" type="text/css" />
<link rel="stylesheet" href="/css/lightmvc.css" type="text/css" />
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<script type="text/javascript" src="http://g.yiqingo.com/easyui/jquery.easyui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://g.yiqingo.com/easyui/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>

<title>订单管理</title>
<script type="text/javascript" src="/js/extJs.js"></script>
<script type="text/javascript" src="/js/order/list.js"></script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north',border:false" style="overflow: hidden;background-color: #fff;padding:10px;">
        <form id="searchForm">
            <table>
                <tr>

                    <th>用户名：</th>
                      <td>
                        <input class="easyui-textbox" type="text" name="userName" th:value="${orderCondition} ? ${orderCondition.userName} :''"/>
                      </td>
                  

                    <th>订单编号：</th>
                      <td>
                        <input class="easyui-textbox"  type="text" name="orderCode" th:value="${orderCondition} ? ${orderCondition.orderCode} :''"/>
                      </td>
                  

                    <th>下单时间：</th>
                      <td>
                        <input class="easyui-datebox"  type="text" name="orderTime" th:value="${orderCondition} ? ${orderCondition.orderTime} :''"/>
                      </td>
                  

                    <th>支付时间：</th>
                      <td>
                        <input class="easyui-datebox"  type="text" name="payTime" th:value="${orderCondition} ? ${orderCondition.payTime} :''"/>
                      </td>
                  

                    <th>订单分类</th>
                      <td>
<!--                         <input type="text" name="orderSort" th:value="${orderCondition} ? ${orderCondition.orderSort} :''"/> -->
                      	<select name="orderSort" class="easyui-combobox"   data-options="width:100,height:29,editable:false,panelHeight:'auto'" >
			              <option  value="">请选择</option>
			              <option  value="0">一元购</option>
			              <option  value="1" >拼团</option>
		               </select>
                      </td>
                  

                    <th>订单状态</th>
                      <td>
<!--                         <input type="text" name="orderStatus" th:value="${orderCondition} ? ${orderCondition.orderStatus} :''"/> -->
                      	<select name="orderStatus" class="easyui-combobox"   data-options="width:100,height:29,editable:false,panelHeight:'auto'" >
			              <option  value="">全部</option>
			              <option  value="1">待付款</option>
			              <option  value="2" >拼团中</option>
			              <option  value="3" >待发货</option>
			              <option  value="4" >待收货</option>
			              <option  value="5" >已成功</option>
			              <option  value="6" >已关闭</option>
		               </select>
                      </td>
                  
                      <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="searchFun();">查询</a>
                        <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="cleanFun();">清空</a>
                      </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="ddgl" data-options="region:'center',border:true,title:'订单管理'" >
        <table id="dataGrid" data-options="fit:true,border:false"></table>
    </div>
    
    
    		<div id="w" class="easyui-window" title="Modal Window" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:400px;height:200px;padding:10px;">
					<form id="ff" method="post">
				    	<table cellpadding="5">
				    		<tr>
				    			<td>物流公司:</td>
				    			<td><input class="easyui-textbox" type="text" name="name" data-options="required:true"></input></td>
				    		</tr>
				    		<tr>
				    			<td>物流单号:</td>
				    			<td><input class="easyui-textbox" type="text" name="email" data-options="required:true,validType:'email'"></input></td>
				    		</tr>
				    		
				    		
				    	</table>
				    </form>
	    <div style="text-align:center;padding:5px">
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">发货</a>
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">关闭</a>
	    </div>
			</div>
</body>
</html>