<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />

<!-- [jQuery] -->
<script src="http://g.yiqingo.com/easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!-- [EasyUI] -->
<link id="easyuiTheme" rel="stylesheet" href="http://g.yiqingo.com/easyui/themes/gray/easyui.css" type="text/css" />
<link id="icon" rel="stylesheet" href="http://g.yiqingo.com/easyui/themes/icon.css" type="text/css" />
<link id="icon2" rel="stylesheet" href="/css/icons.css" type="text/css" />
<link rel="stylesheet" href="/css/lightmvc.css" type="text/css" />
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<script type="text/javascript" src="http://g.yiqingo.com/easyui/jquery.easyui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://g.yiqingo.com/easyui/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>

<title>订单管理</title>
<script type="text/javascript" src="/js/extJs.js"></script>
<script type="text/javascript" src="/js/formater.js"></script>
<script type="text/javascript" src="/js/order/list.js"></script>
</head>
<body>
   
   <div class="container kuai">
		<div class="tit list_detail">
			<h1>订单详情</h1>
		</div>
		<div class="main">
			<ul class="order_dt">
				<li class="us_name"><span>用户名：</span>
					<p class="bold" th:text="${order.userName}"></p></li>
				<li><span>联系方式：</span>
					<p th:text="${order.orderPhone}">15266691228</p></li>
				<li><span>订单编号：</span>
					<p th:text="${order.orderCode}"></p></li>
				<li><span>下单时间：</span>
					<p th:text="${order.orderTime}"></p>
				</li>
				<li><span>支付时间：</span>
					<p  th:text="${order.payTime}"></p>
				</li>
			</ul>

			<table class="child_det" width="100%" cellspacing="0" cellpadding="3" border="0">
				<tbody><tr class="child_det_th">
					<th rowspan="1" colspan="1" width="30%">商品名称</th>
					<th rowspan="1" colspan="1" width="10%">单价（元）</th>
					<th rowspan="1" colspan="1" width="10%">购买数量</th>
					<th rowspan="1" colspan="1" width="10%">状态</th>
					<th rowspan="1" colspan="1" width="10%">运单号</th>
					
				</tr>
				<tr>
					<td colspan="8" class="top20" rowspan="1">
						<!-- 子单列表 start -->

						 <!-- 子单列表 end --> <!-- 未推送的商品  -->
						<p>&nbsp;</p>
						<div class="order_detail">
							<table class="orders_detail" width="100%" cellspacing="0" cellpadding="3" border="0">
								<tbody>
									<tr class="orders">
										<td colspan="3" rowspan="1" width="30%">
											<div class="goods-form">
												
					                        	
					                        	
												<a class="left_10" target="view_window" shape="rect" href="http://www.yiqingo.com/goods.php?id=12">
					                                <img th:src="${order.goodsImg}" />
					                            </a>
												<div class="w65">
													<span class="blue" th:text="${order.goodsName}"></span><br/>
<!-- 													<label>商品品牌：</label> <span class="bold">Abbott雅培</span> -->
												</div>
											</div>
										</td>
										<td class="order-one" rowspan="1" colspan="1" width="10%"><span class="bold" th:text="${order.goodsPrice}"></span>元</td>
										<td class="order-one" rowspan="1" colspan="1" width="10%"><span class="bold">1</span></td>
										
										<td class="order-one" rowspan="1" colspan="1" width="10%">
											<span th:if="${order.orderStatus==1}"><p class="red bold">待成团</p></span>
											<span th:if="${order.orderStatus==2}"><p class="red bold">待发货</p><a  class="btn_send1" th:onclick="'addFun('+${order.id}+')'">发货</a></span>
											<span th:if="${order.orderStatus==3}"><p class="green bold">已发货</p></span>
											<span th:if="${order.orderStatus==4}"><a class="green" >已成功</a></span>
											<span ></span>
										</td>
										<!-- 子订单状态1-已推送0-推送失败2-口岸放行3-已发货 -->
										<!-- 状态 -->
										<td rowspan="1" colspan="1" width="10%">
											<span th:text="${order.invoiceNo}"></span>
											
										</td>
										
									</tr>
								</tbody>
							</table>

						</div>
					</td>
				</tr>

			</tbody></table>
		</div>
		
	</div>
    
    
    
    
    
    <!-- 售后记录 -->
    
<!--     <div class="container kuai"> -->
<!-- 		<div class="tit list_detail"> -->
<!-- 			<h1>售后记录</h1> -->
<!-- 		</div> -->
<!-- 		<div class="main"> -->
<!-- 			<table class="child_det" width="100%" cellspacing="0" cellpadding="3" border="0"> -->
<!-- 				<tbody><tr class="child_det_th"> -->
<!-- 					<th rowspan="1" colspan="1" width="27%">商品名称</th> -->
<!-- 					<th rowspan="1" colspan="1" width="20%">申请退款时间</th> -->
<!-- 					<th rowspan="1" colspan="1" width="10%">申请退款金额</th> -->
<!-- 					<th rowspan="1" colspan="1" width="10%">实际退款金额</th> -->
<!-- 					<th rowspan="1" colspan="1" width="10%">退款类型</th> -->
<!-- 					<th rowspan="1" colspan="1" width="10%">退款原因</th> -->
<!-- 					<th rowspan="1" colspan="1" width="13%">当前状态</th> -->
<!-- 				</tr> -->
<!-- 				<tr class="order-one"> -->
<!-- 					<td colspan="6" th:each="orderChild:${orderChilds}"> -->
<!-- 					<td colspan="7" class="no_pad" rowspan="1"> -->
<!-- 						<table class="order_cen" style=" border-collapse: collapse"> -->
							
<!-- 						</table> -->
<!-- 					</td> -->
<!-- 				</tr> -->



<!-- 			</tbody></table> -->
<!-- 		</div> -->
<!-- 	</div> -->
    	
    	
    	
   <!-- 配送信息 -->	
   
   
   <div class="container kuai">
		<div class="tit wl_lsit">
			<h1>配送信息</h1>
		</div>
		<div class="main">
			<ul class="order_dt3">
			
				
				<li><span>收货人：</span><p th:text="${order.userName}">张三</p></li>
    		 	<li><span>联系方式：</span>
    		 		<p th:text="${order.orderPhone}">13072936125</p>
    		 	</li>
				<li><span>收货地址：</span>
					<p th:text="${order.address}"></p>
				</li>
			</ul>
			<ul class="order_dt3">
			
				
				<li><span>物流公司：</span><p th:text="${order.shippingName}"></p></li>
    		 	<li><span>运单号：</span><p th:text="${order.invoiceNo}"></p></li>
			</ul>
			
		</div>
	</div>
	
	
	<!-- 操作日志 -->
	
	<div class="container kuai">
		<div class="tit operation_list">
			<h1>操作日志</h1>
		</div>
		<div class="main">
			<table class="order_log" width="100%" cellspacing="0" cellpadding="3" border="0">
				<tbody><tr>
					<th rowspan="1" colspan="1" width="20%">操作者</th>
					<th rowspan="1" colspan="1" width="20%">操作时间</th>
					<th rowspan="1" colspan="1" width="10%">订单状态</th>
					<th rowspan="1" colspan="1" width="10%">付款状态</th>
					<th rowspan="1" colspan="1" width="20%">发货状态</th>
					<th rowspan="1" colspan="1" width="20%">备注</th>

				</tr>
				<tr>
					<td rowspan="1" colspan="1">admin</td>
					<td rowspan="1" colspan="1">2016-11-10 11:50:57</td>
					<td rowspan="1" colspan="1">
					<span>已发货</span></td>
					<td rowspan="1" colspan="1">
					<span>已付款</span></td>
					<td rowspan="1" colspan="1"> <span>已发货</span>  </td>
					<td rowspan="1" colspan="1">改为发货</td>
				</tr>

			</tbody></table>
		</div>
	</div>
</body>
</html>