<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript" th:inline="javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/organization/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.treegrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
        
        $('#code').validatebox({
            required: true,
            validType: "remote['/organization/existCode?id=[[${organization.id} ? ${organization.id} : '' ]]','code']"
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>机构名称：</label></td>
                        <td>
                        <input type="text"  name="name"   class="easyui-validatebox" data-options="required:true" th:value="${organization.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>机构编码：</label></td>
                        <td>
                        <input type="text"  name="code" id="code" class="easyui-validatebox" 
                        required="required"
                        th:value="${organization.code}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>父类Id：</label></td>
                        <td>
                        	
						<input class="easyui-combotreegrid" name="parentId" th:unless="${organization.id}"  data-options="
						        width:'200',
						        panelWidth:200,
						        url:'/organization/treeGrid',
						        idField:'id',
						        treeField:'name',
						        columns:[[
						            {field:'name',title:'部门',width:180},
						        ]]" />
                        	<input type="hidden"  name="parentId" th:if="${organization.id}" th:value="${organization.parentId}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${organization.id}"/>
        </form>
    </div>
</div>