<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/tuan/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><label>商品ID：</label></td>
                        <td>
                        <input type="text"  name="goodsId"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.goodsId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>团编码：</label></td>
                        <td>
                        <input type="text"  name="tuanCode"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.tuanCode}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>成团人数：</label></td>
                        <td>
                        <input type="text"  name="peopleNum"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.peopleNum}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>团开始时间：</label></td>
                        <td><input id="" name="tuanStartDate" type="text" placeholder="点击选择时间" readonly="readonly" onfocus="WdatePicker();" th:value="${tuan.tuanStartDate}"/></td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>团结束时间：</label></td>
                        <td><input id="" name="tuanEndDate" type="text" placeholder="点击选择时间" readonly="readonly" onfocus="WdatePicker();" th:value="${tuan.tuanEndDate}"/></td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>订单分类：1，一元购；2，拼团：</label></td>
                        <td>
                        <input type="text"  name="orderSort"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.orderSort}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品图片：</label></td>
                        <td>
                        <input type="text"  name="goodImg"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.goodImg}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品名称：</label></td>
                        <td>
                        <input type="text"  name="goodName"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.goodName}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品编码：</label></td>
                        <td>
                        <input type="text"  name="goodCode"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.goodCode}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>商品金额：</label></td>
                        <td>
                        <input type="text"  name="goodPrice"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.goodPrice}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>订单编码：</label></td>
                        <td>
                        <input type="text"  name="orderCode"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.orderCode}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>用户名：</label></td>
                        <td>
                        <input type="text"  name="userName"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.userName}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>团状态：0，全部订单；1，待成团；2，已成团；3，拼团失败：</label></td>
                        <td>
                        <input type="text"  name="tuanStatus"   class="easyui-validatebox" data-options="required:true" th:value="${tuan.tuanStatus}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${tuan.id}"/>
        </form>
    </div>
</div>