<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript" src="/js/region/form.js"></script>
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/region/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
    
    function testTree(data,parent){
    	console.log("data",data);
    	console.log("parent",parent);
    }
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><label>所属区域id：</label></td>
                        <td>
	                        <select id="parentTree" class="easyui-combotree" name="parentId" style="width:200px;" >
							</select>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>区域名称：</label></td>
                        <td>
                        <input type="text"  name="regionName"   class="easyui-validatebox" data-options="required:true" th:value="${region.regionName}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>是否显示1-显示：</label></td>
                        <td>
                        <input class="easyui-switchbutton" name="isDisplay" th:checked="${region.isDisplay} == null ? true : ${region.isDisplay} " required="required" data-options="onText:'显示',offText:'隐藏',value:true" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>所属大区：华东、华北等，存汉字，总共就这些个区域：</label></td>
                        <td>
                        <input type="text"  name="belongsBigregion"   class="easyui-validatebox" data-options="required:true" th:value="${region.belongsBigregion}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>区域全地址：</label></td>
                        <td>
                        <input type="text"  name="fullRegionName"   class="easyui-validatebox" data-options="required:true" th:value="${region.fullRegionName}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="regionId" th:value="${region.regionId}"/>
        </form>
    </div>
</div>