<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />

<!-- [jQuery] -->
<script src="http://g.yiqingo.com/easyui/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!-- [EasyUI] -->
<link id="easyuiTheme" rel="stylesheet" href="http://g.yiqingo.com/easyui/themes/gray/easyui.css" type="text/css" />
<link id="icon" rel="stylesheet" href="http://g.yiqingo.com/easyui/themes/icon.css" type="text/css" />
<link id="icon2" rel="stylesheet" href="/css/icons.css" type="text/css" />
<link rel="stylesheet" href="/css/lightmvc.css" type="text/css" />
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<script type="text/javascript" src="http://g.yiqingo.com/easyui/jquery.easyui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="http://g.yiqingo.com/easyui/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>

<title>区域管理</title>
<script type="text/javascript" src="/js/extJs.js"></script>
<script type="text/javascript" src="/js/region/list.js"></script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north',border:false" style="padding:10px; overflow: hidden;background-color: #fff">
        <form id="searchForm">
            <table>
                <tr>

                    <th>所属区域id：</th>
                      <td>
                        <input type="text" class="easyui-textbox" name="parentId" th:value="${regionCondition} ? ${regionCondition.parentId} :''"/>
                      </td>
                  

                    <th>区域名称：</th>
                      <td>
                        <input type="text" class="easyui-textbox" name="regionName" th:value="${regionCondition} ? ${regionCondition.regionName} :''"/>
                      </td>
                  

<!--                     <th>是否显示1-显示：</th> -->
<!--                       <td> -->
<!--                         <input type="text" name="isDisplay" th:value="${regionCondition} ? ${regionCondition.isDisplay} :''"/> -->
<!--                       </td> -->
                  

<!--                     <th>所属大区：华东、华北等，存汉字，总共就这些个区域：</th> -->
<!--                       <td> -->
<!--                         <input type="text" name="belongsBigregion" th:value="${regionCondition} ? ${regionCondition.belongsBigregion} :''"/> -->
<!--                       	<select name="belongsBigregion" class="easyui-combobox"   data-options="width:100,height:29,editable:false,panelHeight:'auto'" > -->
<!-- 			              <option  value="">请选择</option> -->
<!-- 			              <option  value="华东">华东</option> -->
<!-- 			              <option  value="华北" >华北</option> -->
<!-- 		               </select> -->
<!--                       </td> -->
                  
                      <td>
                        <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="searchFun();">查询</a>
                        <a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="cleanFun();">清空</a>
                      </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',border:true,title:'区域管理'" >
        <table id="dataGrid" data-options="fit:true,border:false"></table>
    </div>
</body>
</html>