<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/address/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><label>用户ID：</label></td>
                        <td>
                        <input type="text"  name="userId"   class="easyui-validatebox" data-options="required:true" th:value="${address.userId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>订单ID：</label></td>
                        <td>
                        <input type="text"  name="orderId"   class="easyui-validatebox" data-options="required:true" th:value="${address.orderId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>收货人姓名：</label></td>
                        <td>
                        <input type="text"  name="consignee"   class="easyui-validatebox" data-options="required:true" th:value="${address.consignee}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>email：</label></td>
                        <td>
                        <input type="text"  name="email"   class="easyui-validatebox" data-options="required:true" th:value="${address.email}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>国家：</label></td>
                        <td>
                        <input type="text"  name="country"   class="easyui-validatebox" data-options="required:true" th:value="${address.country}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>省：</label></td>
                        <td>
                        <input type="text"  name="province"   class="easyui-validatebox" data-options="required:true" th:value="${address.province}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>市：</label></td>
                        <td>
                        <input type="text"  name="city"   class="easyui-validatebox" data-options="required:true" th:value="${address.city}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>区、县：</label></td>
                        <td>
                        <input type="text"  name="district"   class="easyui-validatebox" data-options="required:true" th:value="${address.district}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>地址：</label></td>
                        <td>
                        <input type="text"  name="address"   class="easyui-validatebox" data-options="required:true" th:value="${address.address}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>邮编：</label></td>
                        <td>
                        <input type="text"  name="zipcode"   class="easyui-validatebox" data-options="required:true" th:value="${address.zipcode}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>电话：</label></td>
                        <td>
                        <input type="text"  name="tel"   class="easyui-validatebox" data-options="required:true" th:value="${address.tel}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>手机：</label></td>
                        <td>
                        <input type="text"  name="mobile"   class="easyui-validatebox" data-options="required:true" th:value="${address.mobile}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>最佳送货时间：</label></td>
                        <td>
                        <input type="text"  name="bestTime"   class="easyui-validatebox" data-options="required:true" th:value="${address.bestTime}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${address.id}"/>
        </form>
    </div>
</div>