<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#skuForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/goodsSku/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="skuForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><label>销售属性：</label></td>
                        <td>
                        <input type="text"  name="skuName"   class="easyui-validatebox" data-options="required:true" th:value="${goodsSku.skuName}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>价格：</label></td>
                        <td>
                        <input type="text"  name="price"   class="easyui-validatebox" data-options="required:true" th:value="${goodsSku.price}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>库存：</label></td>
                        <td>
                        <input type="text"  name="stock"   class="easyui-validatebox" data-options="required:true" th:value="${goodsSku.stock}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>条形码：</label></td>
                        <td>
                        <input type="text"  name="code"   class="easyui-validatebox" data-options="required:true" th:value="${goodsSku.code}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>重量：</label></td>
                        <td>
                        <input type="text"  name="weight"   class="easyui-validatebox" data-options="required:true" th:value="${goodsSku.weight}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${goodsSku.id}"/>
            <input type="hidden" name="goodsId" th:value="${goodsSku.goodsId}" />
        </form>
    </div>
</div>