<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/goodsGroup/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>商品信息：</label></td>
                        <td>
                        <input type="hidden"  name="goods.id"   class="easyui-validatebox" data-options="required:true" th:value="${goodsGroup.goods.id}"/>
                        <span th:text="${goodsGroup.goods.goodsName}"></span>
                        </td>
                    </tr>
                    <tr>
                     <td class="tdTit">商品类型</td>
                     <td>
                     	<select  name="goodsCat" class="easyui-combobox"   data-options="required:true,width:140,height:29,editable:false,panelHeight:'auto'">
	                            <option th:selected="${goodsGroup.goods.goodsCat} == '0' ? 'selected' " value="0" >一元购</option>
	                            <option th:selected="${goodsGroup.goods.goodsCat} == '1' ? 'selected' "  value="1">拼团</option>
	                       </select>
                     </td>
<!--                      <td th:switch="${goodsGroup.goods.goodsCat}"> -->
<!--                         <span th:case="0">一元团</span> -->
<!--                         <span th:case="1">拼团</span> -->
<!--                      </td> -->
                    </tr>
                      <tr>
                     <td class="tdTit">商品价格</td>
                     <td >
				                        商品价格：<span th:text="${goodsGroup.goods.goodsOriginalPrice}"></span>
				                        团购价：<span th:text="${goodsGroup.goods.promotePrice}">拼团</span>
                     </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>成团人数设置：</label></td>
                        <td>
                        <input type="text"  name="num"   class="easyui-validatebox" data-options="required:true" th:value="${goodsGroup.num}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>拼团价：</label></td>
                        <td>
                        <input type="text"  name="groupPrice"   class="easyui-validatebox" data-options="required:true" th:value="${goodsGroup.groupPrice}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>成团时间：</label></td>
                        <td>
                        <input type="text"  name="duration"   class="easyui-validatebox" data-options="required:true" th:value="${goodsGroup.duration}"/> 天
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>拼团开始时间：</label></td>
                        <td><input  name="startTime" type="text" placeholder="点击选择时间" class="easyui-datebox" onfocus="WdatePicker();" th:value="${goodsGroup.startTime}"/></td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>拼团结束时间：</label></td>
                        <td><input  name="endTime" type="text" placeholder="点击选择时间"  class="easyui-datebox" onfocus="WdatePicker();" th:value="${goodsGroup.endTime}"/></td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${goodsGroup.id}"/>
        </form>
    </div>
</div>