<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">
$(function() {
	$('#editUserPwdForm').on('submit', function(event){
		var $form = $(this);
		progressLoad();
		var isValid = $form.form('validate');
		if (!isValid) {
			progressClose();
			return isValid;
		}
		$.ajax({
			url: '/user/changeUserPwd',
			data: $form.serialize(),
			success: function(result){
				progressClose();
				if (result.success) {
					parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
					parent.$.modalDialog.handler.dialog('close');
				} else {
					parent.$.messager.alert('提示', result.msg, 'warning');
				}
			},
			error: function(){
				progressClose();
				alert("系统错误");
			}
		});
		return false;
	});
});
    
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
            <form id="editUserPwdForm" method="post" >
                <table class="grid">
                    
                    <tr>
                        <th>新密码</th>
                        <td>
                        <input name="password" type="password" placeholder="请输入新密码" class="easyui-validatebox" data-options="required:true" />
                        <input type="hidden"  name="id" th:value="${id}" />
                        </td>
                    </tr>
                </table>
            </form>
    </div>
</div>
