<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/function/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_datagrid.treegrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>统一资源标识符：</label></td>
                        <td>
                        <input type="text"  name="uri"   class="easyui-validatebox" data-options="required:true" th:value="${function.uri}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>资源名称：</label></td>
                        <td>
                        <input type="text"  name="name"   class="easyui-validatebox" data-options="required:true" th:value="${function.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>资源类型：</label></td>
                        <td>
                        <input type="text"  name="type"   class="easyui-validatebox" data-options="required:true" th:value="${function.type}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>父类：</label></td>
                        <td>
                        <input class="easyui-combotreegrid" name="parentId"  data-options="
						        width:'200',
						        panelWidth:200,
						        url:'/function/tree',
						        idField:'id',
						        treeField:'name',
						        columns:[[
						            {field:'name',title:'功能',width:100},
						            {field:'uri',title:'地址',width:80},

						        ]]" />
                        
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>描述：</label></td>
                        <td>
                        <input type="text"  name="description"   class="easyui-validatebox" data-options="required:true" th:value="${function.description}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${function.id}"/>
        </form>
    </div>
</div>