.icon-btn{
    background:url('icons/btn.png') no-repeat center center;
}

.icon-refresh{
    background:url('icons/refresh.png') no-repeat center center;
}

.icon-del{
    background:url('icons/del.png') no-repeat center center;
}

.icon-home{
    background:url('icons/home.png') no-repeat center center;
}

.icon-company{
    background:url('icons/company.png') no-repeat center center;
}
.icon-folder{
    background:url('icons/folder.png') no-repeat center center;
}

.icon-blank{
    background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
    background:url('icons/add.png') no-repeat center center;
}
.icon-edit{
    background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
    background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
    background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
    background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
    background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
    background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
    background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
    background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
    background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
    background:url('icons/search.png') no-repeat center center;
}
.icon-print{
    background:url('icons/print.png') no-repeat center center;
}
.icon-help{
    background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
    background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
    background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
    background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
    background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
    background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
    background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
    background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
    background:url('icons/lock.png') no-repeat center center;
}
.icon-unlock{
    background:url('icons/unlock.png') no-repeat center center;
}
.icon-more{
    background:url('icons/more.png') no-repeat center center;
}
.icon-setting{
    background:url('icons/setting.png') no-repeat center center;
}

.icon-mini-add{
    background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
    background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
    background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
    background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
    background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
    background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
    background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
    background:url('icons/large_chart.png') no-repeat center center;
}
.icon-goods{
    background:url('icons/goods.png') no-repeat center center;
}
.tree-node-selected .icon-goods{
    background:url('icons/goods1.png') no-repeat center center;
}
.icon-user{
    background:url('icons/user.png') no-repeat center center;
}
.tree-node-selected .icon-user{
    background:url('icons/user1.png') no-repeat center center;
}
.icon-order{
    background:url('icons/order.png') no-repeat center center;
}
.tree-node-selected .icon-order{
    background:url('icons/order1.png') no-repeat center center;
}
.icon-ad{
    background:url('icons/ad.png') no-repeat center center;
}
.tree-node-selected .icon-ad{
    background:url('icons/ad1.png') no-repeat center center;
}
.icon-data{
    background:url('icons/data.png') no-repeat center center;
}
.tree-node-selected .icon-data{
    background:url('icons/data1.png') no-repeat center center;
}
.icon-system{
    background:url('icons/system.png') no-repeat center center;
}
.tree-node-selected .icon-system{
    background:url('icons/system1.png') no-repeat center center;
}


/**/
.icon-classify{
    background:url('icons/classify.png') no-repeat center center;
}
.tree-node-selected .icon-classify{
    background:url('icons/classify1.png') no-repeat center center;
}
.icon-list{
    background:url('icons/list.png') no-repeat center center;
}
.tree-node-selected .icon-list{
    background:url('icons/list1.png') no-repeat center center;
}
.icon-recommend{
    background:url('icons/recommend.png') no-repeat center center;
}
.tree-node-selected .icon-recommend{
    background:url('icons/recommend1.png') no-repeat center center;
}
.icon-setuan{
    background:url('icons/setuan.png') no-repeat center center;
}
.tree-node-selected .icon-setuan{
    background:url('icons/setuan1.png') no-repeat center center;
}
.icon-tuan{
    background:url('icons/tuan.png') no-repeat center center;
}
.tree-node-selected .icon-tuan{
    background:url('icons/tuan1.png') no-repeat center center;
}

/**/
.icon-wxuser{
    background:url('icons/wxuser.png') no-repeat center center;
}
.tree-node-selected .icon-wxuser{
    background:url('icons/wxuser1.png') no-repeat center center;
}
.icon-address{
    background:url('icons/address.png') no-repeat center center;
}
.tree-node-selected .icon-address{
    background:url('icons/address1.png') no-repeat center center;
}
.icon-attention{
    background:url('icons/attention.png') no-repeat center center;
}
.tree-node-selected .icon-attention{
    background:url('icons/attention1.png') no-repeat center center;
}
.icon-keep{
    background:url('icons/keep.png') no-repeat center center;
}
.tree-node-selected .icon-keep{
    background:url('icons/keep1.png') no-repeat center center;
}

/**/
.icon-tunamanage{
    background:url('icons/tunamanage.png') no-repeat center center;
}
.tree-node-selected .icon-tunamanage{
    background:url('icons/tunamanage1.png') no-repeat center center;
}
.icon-ordermanage{
    background:url('icons/ordermanage.png') no-repeat center center;
}
.tree-node-selected .icon-ordermanage{
    background:url('icons/ordermanage1.png') no-repeat center center;
}
.icon-commentmanage{
    background:url('icons/commentmanage.png') no-repeat center center;
}
.tree-node-selected .icon-commentmanage{
    background:url('icons/commentmanage1.png') no-repeat center center;
}
.icon-refundmanage{
    background:url('icons/refundmanage.png') no-repeat center center;
}
.tree-node-selected .icon-refundmanage{
    background:url('icons/refundmanage1.png') no-repeat center center;
}

/**/
.icon-shipping{
    background:url('icons/shipping.png') no-repeat center center;
}
.tree-node-selected .icon-shipping{
    background:url('icons/shipping1.png') no-repeat center center;
}
.icon-area{
    background:url('icons/area.png') no-repeat center center;
}
.tree-node-selected .icon-area{
    background:url('icons/area1.png') no-repeat center center;
}
.icon-pay{
    background:url('icons/pay.png') no-repeat center center;
}
.tree-node-selected .icon-pay{
    background:url('icons/pay1.png') no-repeat center center;
}
/**/
.icon-organize{
    background:url('icons/organize.png') no-repeat center center;
}
.tree-node-selected .icon-organize{
    background:url('icons/organize1.png') no-repeat center center;
}
.icon-user{
    background:url('icons/user.png') no-repeat center center;
}
.tree-node-selected .icon-user{
    background:url('icons/user1.png') no-repeat center center;
}
.icon-role{
    background:url('icons/role.png') no-repeat center center;
}
.tree-node-selected .icon-role{
    background:url('icons/role1.png') no-repeat center center;
}
.icon-function{
    background:url('icons/function.png') no-repeat center center;
}
.tree-node-selected .icon-function{
    background:url('icons/function1.png') no-repeat center center;
}
.icon-assignments{
    background:url('icons/assignments.png') no-repeat center center;
}
.tree-node-selected .icon-assignments{
    background:url('icons/assignments1.png') no-repeat center center;
}
.icon-authority{
    background:url('icons/authority.png') no-repeat center center;
}
.tree-node-selected .icon-authority{
    background:url('icons/authority1.png') no-repeat center center;
}
.icon-api{
    background:url('icons/api.png') no-repeat center center;
}
.tree-node-selected .icon-api{
    background:url('icons/api1.png') no-repeat center center;
}
.icon-loginlog{
    background:url('icons/loginlog.png') no-repeat center center;
}
.tree-node-selected .icon-loginlog{
    background:url('icons/loginlog1.png') no-repeat center center;
}


