<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/payment/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_payGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><label>支付名称：</label></td>
                        <td>
                        <input type="text"  name="name"   class="easyui-textbox" data-options="required:true" th:value="${payment.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>支付类型：</label></td>
                        <td>
                         <select name="type" class="easyui-combobox"    required="required"  data-options="width:140,height:29,editable:false,panelHeight:'auto'">
                            <option th:selected="${payment.type} == 'online' ? 'selected' "  value="online">线上</option>
                            <option th:selected="${payment.type} == 'offline' ? 'selected' "  value="offline">线下</option>
                            <option th:selected="${payment.type} == 'bank' ? 'selected' " value="bank" >银行卡</option>
                            <option th:selected="${payment.type} == 'cod' ? 'selected' " value="cod" >货到付款</option>
                       </select>
                        </td>
                    </tr>
                     <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>排序：</label></td>
                        <td>
                        <input type="text"  name="orderSort"   class="easyui-numberspinner" data-options="required:true" th:value="${payment.orderSort}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>备注：</label></td>
                        <td>
                        <input type="text"  name="remark"   class="easyui-textbox" th:value="${payment.remark}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${payment.id}"/>
        </form>
    </div>
</div>