<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/javascript" src="/webuploader/webuploader.min.js"></script>
<link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css" />
<script type="text/javascript" src="/js/upload.js"></script>
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/comment/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div class="pingj" data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><label>商品ID：</label></td>
                        <td>
                        <input type="text"  name="goodId"   class="easyui-textbox" data-options="required:true" th:value="${comment.goodId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>用户名：</label></td>
                        <td>
                        <input type="text"  name="userName"   class="easyui-textbox" data-options="required:true" th:value="${comment.userName}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>评论内容：</label></td>
                        <td>
                        <input class="easyui-textbox" data-options="multiline:true"  style="width:300px;height:100px" th:value="${comment.content}" />
<!--                         <input type="text"  name="content"  style="width:300px;height:100px"   class="easyui-textbox" data-options="required:true" /> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>评论时间：</label></td>
                        <td><input id="" class="easyui-datetimebox" name="contentTime" type="text" placeholder="点击选择时间"  onfocus="WdatePicker();" th:value="${comment.contentTime}"/></td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>上传商品图片：</label></td>
                        <td>
							 <div id="uploader-demo">
							   
							 	
							    <div id="filePicker">选择相册</div>
							    <!--用来存放item-->
							    <div id="fileList" class="uploader-list" >
							      <div th:each="img:${imgList}" th:remove="tag">
							    	<div class="file-item upload-state-done">
							    	<img th:src="${img.originalImg}" />
							    	<div class="diyCancel"></div>
								    	<input type="hidden" name="originalImg"  />
								    	<input type="hidden" name="smallThumbImg"  />
								    	<input type="hidden" name="bigThumbImg"  />
							    	</div>
							    	</div>
							    </div>
							</div>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${comment.id}"/>
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/shangchuan.js"></script>
<script type="text/javascript">
var mainUploader = Upload.init("#mainPicker","#mainfile","adImg",true);
</script>