<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/operationLog/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><label>用户id：</label></td>
                        <td>
                        <input type="text"  name="userId"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.userId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>用户名：</label></td>
                        <td>
                        <input type="text"  name="username"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.username}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>用户真实名称：</label></td>
                        <td>
                        <input type="text"  name="realname"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.realname}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>角色编码：</label></td>
                        <td>
                        <input type="text"  name="roleCode"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.roleCode}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>角色名称：</label></td>
                        <td>
                        <input type="text"  name="roleName"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.roleName}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>访问资源地址：</label></td>
                        <td>
                        <input type="text"  name="functionUri"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.functionUri}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>资源名称：</label></td>
                        <td>
                        <input type="text"  name="functionName"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.functionName}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>访问日期：</label></td>
                        <td><input id="" name="operationTime" type="text" placeholder="点击选择时间" readonly="readonly" onfocus="WdatePicker();" th:value="${operationLog.operationTime}"/></td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>访问状态，成功还是失败：</label></td>
                        <td>
                        <input type="text"  name="status"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.status}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>调用IP：</label></td>
                        <td>
                        <input type="text"  name="ip"   class="easyui-validatebox" data-options="required:true" th:value="${operationLog.ip}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${operationLog.id}"/>
        </form>
    </div>
</div>