<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/role/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>角色编码：</label></td>
                        <td>
                        <input type="text"  name="code"   th:value="${role.code}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>角色名称：</label></td>
                        <td>
                        <input type="text"  name="name"   class="easyui-validatebox" data-options="required:true" th:value="${role.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong>
                        <label>状态</label>
						
                        </td>
                        <td>
						<select name="status" class="easyui-combobox"   data-options="width:150,height:29,editable:false,panelHeight:'auto'" >
						          <option th:selected="${role.status} == 'enable' ? 'selected' "  value="enable">启用</option>
						          <option  th:selected="${role.status} == 'disable' ? 'selected' "   value="disable" >禁用</option>
					      </select>
					</td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${role.id}"/>
        </form>
    </div>
</div>