<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript" src="/webuploader/webuploader.min.js"></script>
<link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/javascript" src="/js/upload.js"></script>
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/ad/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
        
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><label>位置ID：</label></td>
                        <td>
                        <input type="text"  name="positionId"   class="easyui-textbox" readonly="readonly" data-options="required:true" th:value="${ad.positionId}" style="width:250px"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>广告名称：</label></td>
                        <td>
                        <input type="text"  name="adName"   class="easyui-textbox" data-options="required:true" th:value="${ad.adName}" style="width:250px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>广告链接：</label></td>
                        <td>
                        <input type="text"  name="adLink"   class="easyui-textbox"  th:value="${ad.adLink}" style="width:250px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>广告图片：</label></td>
                        <td>
<!--                         <input name="file" type="file" /> -->
								<div id="mainfile" class="my-ad uploader-list">
                                    <div id="mainPicker">选择文章配图</div>
                                     <input type="hidden" name="adImg" data-options="required:true" th:value="${ad.adImg}" />
                                      <div  class="file-item">
                                       <img th:src="${ad.adImg}" />
                                       <div class="info"></div>
                                       <div class="diyCancel"></div>
                                     </div>
                                </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>图片地址：</label></td>
                        <td>
                        <input type="text"  name="adImgLink"   class="easyui-textbox"  style="width:250px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>广告编码：</label></td>
                        <td>
                        <input type="text"  name="adCode"   class="easyui-textbox"  th:value="${ad.adCode}" style="width:250px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>开始时间：</label></td>
                        <td><input class="easyui-datetimebox" name="startTime" type="text" placeholder="点击选择时间"  onfocus="WdatePicker();" th:value="${ad.startTime}" style="width:250px" /></td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>结束时间：</label></td>
                        <td><input class="easyui-datetimebox" name="endTime" type="text" placeholder="点击选择时间"  onfocus="WdatePicker();" th:value="${ad.endTime}" style="width:250px" /></td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>点击次数：</label></td>
                        <td>
                        <input type="text"  name="clickCount"   class="easyui-numberbox"   th:value="${ad.clickCount}" style="width:250px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>描述：</label></td>
                        <td>
                        <input type="text"  name="description"   class="easyui-textbox"  th:value="${ad.description}" style="width:250px" />
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="adId" th:value="${ad.adId}"/>
        </form>
    </div>
</div>

<script type="text/javascript">
var mainUploader = Upload.init("#mainPicker","#mainfile","adImg",true);
</script>