<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/style/images/index/favicon.png" />
<script type="text/javascript">

    $(function() {
        $('#modelForm').on('submit', function(event){
            var $form = $(this);
            progressLoad();
            var isValid = $form.form('validate');
            if (!isValid) {
                progressClose();
                return isValid;
            }
            $.ajax({
                url: '/weixin/wxAppUser/save',
                data: $form.serialize(),
                success: function(result){
                    progressClose();
                    if (result.success) {
                        parent.$.modalDialog.openner_dataGrid.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
                        parent.$.modalDialog.handler.dialog('close');
                    } else {
                        parent.$.messager.alert('提示', result.msg, 'warning');
                    }
                },
                error: function(){
                    progressClose();
                    alert("系统错误");
                }
            });
            return false;
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="modelForm" method="post">
            <table class="grid">
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>公众号ID：</label></td>
                        <td>
                        <input type="text"  name="appid"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.appid}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><strong class="red" >*</strong><label>窗口id：</label></td>
                        <td>
                        <input type="text"  name="openid"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.openid}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>昵称：</label></td>
                        <td>
                        <input type="text"  name="nickname"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.nickname}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>地址ID：</label></td>
                        <td>
                        <input type="text"  name="addressId"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.addressId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>真实姓名：</label></td>
                        <td>
                        <input type="text"  name="realname"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.realname}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>性别：</label></td>
                        <td>
                        <input type="text"  name="sex"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.sex}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>语言：</label></td>
                        <td>
                        <input type="text"  name="language"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.language}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>省份：</label></td>
                        <td>
                        <input type="text"  name="province"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.province}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>城市：</label></td>
                        <td>
                        <input type="text"  name="city"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.city}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>国家：</label></td>
                        <td>
                        <input type="text"  name="country"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.country}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>头像路径：</label></td>
                        <td>
                        <input type="text"  name="headimgurl"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.headimgurl}"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdTit"><label>权限：</label></td>
                        <td>
                        <input type="text"  name="privilege"   class="easyui-validatebox" data-options="required:true" th:value="${wxAppUser.privilege}"/>
                        </td>
                    </tr>
            </table>
            <input type="hidden" name="id" th:value="${wxAppUser.id}"/>
        </form>
    </div>
</div>